@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .animate-on-scroll {
        opacity: 0;
        filter: blur(3px);
        transition: 1s;
    }
    .animate-on-scroll.from-left {
        transform: translateX(-50%);
    }

    .animate-on-scroll.from-right {
        transform: translateX(50%);
    }

    .animate-on-scroll.show {
        transform: translate(0);
        filter: blur(0);
        opacity: 1;
    }
}